/*
 * SPDX-FileCopyrightText: 2024 Alejandro Bezerra
 * SPDX-FileCopyrightText: 2024 Anton Souto
 * SPDX-FileCopyrightText: 2024 Enrique Adega
 * SPDX-FileCopyrightText: 2024 Guillen Porto
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
    /*--gradient-top: #5053a0;
    --gradient-bottom: #372e55;*/
    --gradient-top: #505063;
    --gradient-bottom: #2e2c36;
    --background-title-color: rgb(255, 255, 255);
    --title-color: #ffffff;
    --color-button-header: rgb(61, 56, 66);
    --color-button-header-hover: rgb(92, 91, 95);
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
    background-attachment: fixed;
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 11vh;
    width: 100vw;
    background: var(--background-title-color);
    margin-bottom: 1vh;
}

.header-button {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
    color: var(--title-color);
    text-align: center;
    width: 49.8%;
    height: 100%;
    background-color: var(--color-button-header);
    margin-right: auto;
    border: none;
}

.header-button:hover {
    background-color: var(--color-button-header-hover);
}

.header-button.active{
    background-color: #080a49;
}

.space {
    border-radius: 6em;
}

main {
    display: flex;
    flex-direction: row; /* Cambiamos la dirección a columnas */
    box-sizing: border-box;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 12vh;
    margin-bottom: 4vh;
}

#hideableArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: max-height 0.3s ease;
}

/*#hideableArea label:first-child {
    width: 20vw;
    font-size: 1.8em;
}*/

.tileInputs {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-bottom: 5vh;
    width: 40%; /* Ancho del 45% para dejar espacio para el margen */
    max-width: 40vw; /* Ancho máximo para evitar que los elementos sean demasiado anchos */
    margin-right: 5%; /* Margen derecho entre las columnas */
}

.electrico {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-bottom: 2vh;
    width: 90vw; /* Ancho del 45% para dejar espacio para el margen */
    max-width: 90vw; /* Ancho máximo para evitar que los elementos sean demasiado anchos */
    margin-right: 5%; /* Margen derecho entre las columnas */
    height: 8vh;
}

.tileInputs *, .electrico * {
    display: flex;
    width: 90%;
    height: 75%;
    font-size: 2.0 vh;
    font-weight: bold;
}

.main-button {
    display: flex;
    /*height: 100%;*/
    font-size: 3em;
    border-radius: 15px; 
}

input {
    padding:10px 15px; 
    background:#ffffff; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 15px;
}

input:hover { 
    background: #f2f2f2; 
}

ul{
    width: 45%;
}

li {
    display: flex;
    width: 100;
    list-style: none;
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
    border: white;
    /*prueba de antonetiiii*/
    position:relative;
    background: #889ca5;
    border-radius: 15px;
}
li:nth-child(odd) {
    
}
    
#Añadir, #Calcular {
    width: 100%;
    height: 100%;
    font-size: 3em;
    background: #ffffff;
    align-content: center;
    justify-content: center;
}

.main-button {
    text-align: center;
    justify-content: center;
}

.tileInputs #Añadir {
    text-align: center;
    justify-content: center;
}

.appliance {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.appliance * {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 2.0 vh;
    font-weight: bold;
    margin-left: 5vw;
    margin-right: 5vw;
}

.appliance button {
    font-size: 1em;
    width: 15%;
    height: 100%;
    border-radius: 100px;
    align-items: right;
    margin-left: auto;
}

#Añadir:hover, #Calcular:hover {
    background: #f2f2f2;
}

select {
    display: flex;
    padding:5px 15px; 
    background:#ffffff; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 15px; 
    font-size: 1em;
    margin-left: 0;
}

.delete {
    background-color: #ff3333; /* Color de fondo rojo */
    color: #fff; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Relleno interno */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    
    /*position: absolute; /* Establece la posición absoluta para el botón */
    right: 0; /* Alinea el botón a la derecha del contenedor li */
    display: inline-block; /* Hace que el botón se comporte como un elemento en línea */
    border-radius: 50%; /* Hace que el botón tenga bordes redondeados, creando un círculo */

}

/* Estilo adicional para resaltar el botón al pasar el ratón */
.delete:hover {
    background-color: #a52a2a; /* Cambia el color de fondo al pasar el ratón */
}

#resultContainer {
    display: none;
    
    background-color: #3e3854; /* Cambia el color de fondo al pasar el ratón */

    border-radius: 5px;

    margin: 10px 20px;
    
    font-size: 1.5em;
}

#Form-Factura{
    display: none;
}

#Form-Factura .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2vh;
}

#Form-Factura p {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}

#label-tarifa {
    width: 75vw;
    height: 8vh;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
    align-items: center;

}

.discrimination-button.active{
    background-color: rgb(131, 110, 110);
    font-weight: bold;
}

#Form-Factura .row button {
    width: 75vw;
    height: 6vh;
    font-size: 1.5em;
    font-weight: bold;
}

.row > .tileInputs label {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
    align-items: center;
    width: 100%;
}

.row > .tileInputs {
    font-weight: bold;
    margin-bottom: 0;
    align-items: center;
    height: 8vh;
}


#calcTarifa {
    width: 100%;
    height: 100%;
    font-size: 3em;
    background: #ffffff;
    align-content: center;
    justify-content: center;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;    
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#resultContainerTarifa {
    display: none;
    
    background-color: #3e3854; /* Cambia el color de fondo al pasar el ratón */

    border-radius: 5px;

    margin: 10px 20px;
    
    font-size: 1.5em;

}
