:root {
    --gradient-top: #5053a0;
    --gradient-bottom: #372e55;
    --background-title-color: rgb(22, 15, 148);
    --title-color: #ffffff;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 10vh;
    width: 100vw;
    background: var(--background-title-color);
    margin-bottom: 1vh;
}

header h1 {
    margin: 0;
    font-size: 4em;
    font-weight: bold;
    color: var(--title-color);
    text-align: center;
}

main {
    display: flex;
    flex-direction: row; /* Cambiamos la dirección a columnas */
    box-sizing: border-box;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2vh;
}

.tileInputs {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-bottom: 2vh;
    width: 40%; /* Ancho del 45% para dejar espacio para el margen */
    max-width: 40vw; /* Ancho máximo para evitar que los elementos sean demasiado anchos */
    margin-right: 5%; /* Margen derecho entre las columnas */
}

.electrico {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-bottom: 2vh;
    width: 100vw; /* Ancho del 45% para dejar espacio para el margen */
    max-width: 90vw; /* Ancho máximo para evitar que los elementos sean demasiado anchos */
    margin-right: 5%; /* Margen derecho entre las columnas */
    height: 8vh;
}

.tileInputs *, .electrico * {
    width: 90%;
    height: 75%;
    font-size: 2.5vh;
    font-weight: bold;
}

input {
    padding:5px 15px; 
    background:#ffffff; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 15px; 
}

input:hover { 
    background: #f2f2f2; 
}

li {
    list-style: none;
    font-size: 4em;
}